*{
    margin: 0;
    padding: 0;
} 

.grupo{
    display: flex;
    flex-direction: column;
}


.cabecalho{
    background-color: aquamarine;
    color: black;
    padding: 10px;
}

.navegacao{
    background-color: brown;
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.secao{
    background-color: blue;
}

.formulario{
    margin-bottom: 10px;
}

.secao p {
    padding: 10px;
}

.secao

.rodape{
    background-color: gold;
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    display: flex;

}

.redes img{
    margin-left: 10px;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.redes a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}
