*{
    margin: 0;
    padding: 0;
} 

.grupo{
    display: flex;
    flex-direction: column;
}


.cabecalho{
    background-color: aquamarine;
    color: black;
    padding: 10px;
}

.navegacao{
    background-color: brown;
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.secao{
    background-color: blue;
}

.rodape{
    background-color: gold;
}
